<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wei.hello.dao.HelloWordMapping">
    <select id="hello" parameterType="String" resultType="java.lang.String">
        select role_id  from  authority_user_role where id = #{id}
    </select>
    <insert id="insert" parameterType="String" >
        select role_id  from  authority_user_role where id = #{id}
    </insert>
    <select id="hello" parameterType="String" resultType="java.lang.String">
        select role_id  from  authority_user_role where id = #{id}
    </select>
</mapper>